ul li {
    float: right;
    border-bottom: 1px solid #f2f2f2;
    list-style-type: none;
}
.uparrow:hover {
    background-position: -97px 0;
}
a:hover {
    text-decoration: underline;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.arrow {
    display: block;
    width: 96px;
    height: 30px;
    background: url(../image/arrow.jpg) 0 0 no-repeat;
}
.downarrow:hover {
    background-position: -97px -31px;
}
.downarrow {
    background-position: 0 -31px;
}
.guidewrap{
    width:96px;
    height:100%;
    /*position:absolute;*/
    /*left:0;*/
    /*top:0;*/
    border-right: 1px solid #f2f2f2;
    display: inline;
    float: left;
}
.guidecontent{
    width:100%;
    height: 737px;
}
.slidewrap{
    width:100%;
    height: 677px;
    overflow: hidden;
}
#guideList{
    overflow: hidden;
    position:relative;
}
#guideList li{
    height:101px;
    overflow: hidden;
}
#guideList li a{
    width:83px;
    height:93px;
    display: block;
    margin:0 auto;
    background:url(../image/item-boder.jpg) left bottom repeat-x;
}
#guideList li a span{
    width:100%;
    height:83px;
    background:url(../image/iconSprite.png) 0 0 no-repeat;
    display: block;
    margin-top:8px;
}
#guideList li .gkyjx-icon{
    background-position: -172px -96px;
}
#guideList li:hover .gkyjx-icon{
    background-position: -172px -384px;
}
#guideList li a {
    width: 83px;
    height: 93px;
    display: block;
    margin: 0 auto;
    background: url(../image/item-boder.jpg) left bottom repeat-x;
}
a {
    color: #000;
    text-decoration: none;
}

.sub-layout {
    width: 307px;
    height: auto;
    position: absolute;
    z-index: 1000;
    left: 0;
}
.sub-top{
    width:100%;
    height:13px;
    background:url(../image/subtop.png) right top no-repeat;
}
.sub-middle{
    padding:0 15px;
    height:auto;
    background:url(../image/submiddle.png) right top repeat-y;
    min-height: 200px;
}
.sub-bottom{
    width:100%;
    height:16px;
    background:url(../image/subbottom.png) right top no-repeat;
}
.sub-middle{
    padding-top: 15px;
}
.sub-row{
}
.sub-row h3{
    font-weight: bold;
    color:#224585;
    padding-left: 12px;
    background: url(../image/bluearrow.png) 0 4px no-repeat;
    margin-bottom: 15px;
}
.sub-row ul{
    padding-left: 12px;
}
.sub-row ul li{
    float: left;
    margin-bottom: 12px;
}
.sub-row ul li a{
    padding:0 8px;
    display: block;
    font-size: 12px;
    height:14px;
    line-height: 14px;
    border-left:1px solid #747474;
    color:#747474;
}
.sub-row ul li a:hover{
    text-decoration: underline;
}
.triangle{
    width:7px;
    height:8px;
    background: url(../image/triangle.png) 0 0 no-repeat;
    position: absolute;
    left:-4px;
    top:41px;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    zoom: 1;
}
.none{
    display: none;
}

.system-top {
    width: auto;
    height: 100px;
    background: url(../image/system-top.jpg) left no-repeat;
    position: relative;
    background-position: left top;
}

body{
    margin: 0;
    padding: 0;
}

div{
    margin:0;
    padding:0;
}
.admin-login {
    height: 80px;
    position: absolute;
    right: 10px;
    width: auto;
}

.admin-login p {
    height: 30px;
    line-height: 30px;
}
.mt10 {
    margin-top: 10px;
}
.tr {
    text-align: right;
}

#signbox input {
    text-align: right;
    margin: 0 3px;
    padding: 3px 20px 3px 20px !important;
    background: #ffffff;
    cursor: pointer;
}

#signbox input {
    text-align: right;
    margin: 0 3px;
    padding: 3px 20px 3px 20px !important;
    background: #ffffff;
    cursor: pointer;
}
.clean-gray {
    background: none;
    border: 0;
    color: #0468be;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 0px 20px 0px 20px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
}

#userinfo {
    text-align: right;
    margin-top: -10px;
}
.admin-login p {
    height: 30px;
    line-height: 30px;
}

.admin-login .aps1 {
    display: inline;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background: url(../image/admin-arr.gif) left center no-repeat;
    color: #000000;
    font-size: 12px;
}

#rbbox{
    position:absolute;
    right:0;
    bottom:26px;
    width:200px;
    height:0px;
    overflow:hidden;
    background-color:#fff;
}
.button{
    display:inline;
    float:right;
    font-size:12px;
    cursor:pointer;
}

body {
    background: url(../image/bannerbg.png) top repeat-x;
    background-size: 100% 100px;
}

span{
    margin: 0;
    padding: 0;
}

/*tab*/
.prev,.next{position: absolute;width: 20px;height: 20px;cursor: pointer;bottom:0; text-align: center;line-height: 20px;font-weight: bold;color: #fff;}
.prev{left:98px;}
.next{right: 0px;}
.no_click{}
.tab{
    position: absolute;
    left:120px;
    bottom: 0;
    margin-bottom: -1px;
    display:block;width:100px;height:30px;overflow:hidden;

}
.tablist{
    position:relative;
    width:90000px;
}
.tablist li{
    float: left;
    height:29px;
    margin-left: 1px;
}
.tablist li div{

}
.tab-l{
    width:auto;
    height:29px;
    padding-left:25px;
    background:url(../image/navbg-blue.png) left top no-repeat;
    color:#ffffff;
    font-size: 14px;
    font-family: "黑体";
    cursor: pointer;
    position: relative;
}
.tab-r{
    width:auto;
    height:29px;
    padding-right:40px;
    background:url(../image/navbg-blue.png) right top no-repeat ;
    z-index: 100;
}
.tab-m{
    width:auto;
    height:29px;
    line-height: 29px;
    min-width: 60px;
}
.tab-close{
    width:9px;
    height:9px;
    display: block;
    position: absolute;
    background-position: right -164px;
    right:11px;
    top:10px;
}
.tabon .tab-l{
    color:#7a7a7a;
    background:url(../image/navbg-white.png) left top no-repeat;
}
.tabon .tab-r{
    background:url(../image/navbg-white.png) right top no-repeat;
}
.tabon .tab-close{
    background-position: right -175px;
}
/***************************************end********************************/
.container{
    padding-left:96px;
}
.footer{
    width:auto;
    height:30px;
    background-color: #6a97d6;
}

.footer p {
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-family: "微软雅黑";
}
.cb{
    clear: both;
}

.tab-close {
    background: url(../image/portal-all.png) 0 0 no-repeat;
}

.menu{
    display: block;
    position: relative;
    padding-left: 10px;
    padding-top: 117px;
    width:82px;
    height:29px;
    background:url(../images/menu.png) 0 0 no-repeat;
    background-position:center center

}

.menuwrap{
    padding:35px 0 0 28px;
    position: relative;
    overflow: hidden;
}
.menuout{
    width:33%;

    float: left;
}
.menuitem{
    border-left:1px solid #bfbfbf;
    padding:0 50px 0 18px;
    margin-bottom: 70px;
}

.menuitem h3 {
    color: #000000;
    font-size: 24px;
    font-family: "黑体";
    margin-bottom: 25px;
}
.menuitem li{
    float: left;
    width:98px;
    margin-bottom: 12px;
}
.menuitem li a{
    color:#222222;
}
.pt0{
    padding-top:0;
}


#allmenu{
    position: absolute;
    top: 84px;
    z-index: 1000;
    left:100px;
    background-color:#ffffff;
    border:1px solid #bfbfbf;

    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    box-shadow: #666 0px 0px 10px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
}

.withe {
    color: #fff;
}

.withe hover {
    color: #fff;
}

.withe active {
    color: #fff;
}